@import "../../styles/vars";

.layout {
  display: flex;
  justify-content: space-between;
  background-color: $excel-green;
  padding: 0.5rem 0.5rem 0;

  .side {
    display: flex;

    .link-active {
      color: $excel-green;
      background-color: $excel-white;
    }
  }

  .side > * {
    padding: 0.6rem;
  }

  a {
    font-weight: bolder;
    color: $excel-white;
  }
}

.page-container {
  // display: flex;
  // flex-direction: column;
  width: 1200px;
}
