@import "../../styles/mixins";

.actions {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
}

.estimates-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.estimates-page {
  @include page-placement;
}

.estimate {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #6e6e6e;
  border-radius: 5px;
}
