@mixin strech-param {
  flex: 0 0 auto;
}

@mixin flex-param($jst-cnt-value: center) {
  display: flex;
  align-items: center;
  justify-content: $jst-cnt-value;
}

@mixin stroke {
  outline: 2px solid #33333320;
  margin: 1px;
  padding: 0.2rem;
}

.item {
  display: flex;
  align-items: stretch;

  .number {
    @include strech-param;
    @include flex-param;
    @include stroke;

    width: 50px;
  }

  .name {
    @include flex-param(left);
    @include stroke;

    width: 100%;
  }

  .meas {
    @include strech-param;
    @include flex-param;
    @include stroke;

    width: 80px;
  }

  .material {
    @include strech-param;
    @include flex-param;

    width: 180px;

    * {
      @include flex-param;
      @include stroke;

      width: 50%;
    }
  }

  .amount {
    @include strech-param;
    @include flex-param;
    @include stroke;

    width: 100px;
  }
}
