@use "../../../styles/vars";

@mixin strech-param {
  flex: 0 0 auto;
}

@mixin flex-param($jst-cnt: center) {
  display: flex;
  align-items: center;
  justify-content: $jst-cnt;
}

@mixin stroke {
  outline: 2px solid #33333320;
  margin: 1px;
  padding: 0.2rem;
}

@mixin line {
  display: flex;
  width: 100%;
}

.estimate-footer {
  margin-top: 0.5rem;
  padding-bottom: 2rem;

  .line-total {
    @include line;

    color: vars.$excel-white;
    background-color: vars.$excel-green;
  }

  .line {
    @include line;

    background-color: vars.$excel-light-green;
  }

  .name {
    @include flex-param(left);
    @include stroke;

    width: 100%;
  }

  .materials {
    @include strech-param;

    display: flex;
    width: 180px;

    .item {
      @include flex-param;
      @include stroke;

      width: 50%;
    }
  }

  .total {
    @include strech-param;
    @include flex-param;
    @include stroke;

    width: 100px;
  }
}
